ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: red;
}
.menu {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

}
.menu li {
    display: inline-block;
    padding: 25.5px 1px 25.5px 175px;

}
img{
    width: 100%;
}
h2 {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 48px;
    }
.first-paragraph, .second-paragraph {
    text-align: center;
    letter-spacing: 2.4px;
    padding: 10px 50px 10px 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.get-started {
    background-color: red;
    width: 191px;
    height: 51px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 66px;
}
.copyright {
    margin-top: 82px;
    margin-right: 105px;
    float: right;
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 29px;
}
